name: Docker Image CI

on:
  push:
    branches: 
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Use QEMU to emulate other non-amd64 host platforms to building
      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      # - name: Calculate Semantic Version
      #   id: semver
      #   uses: lukaszraczylo/semver-generator@1.4.6
      #   with:
      #     config_file: semver.yaml
      #     repository_local: true
      
      - name: Build image and push to Docker Hub and GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64,linux/arm64/v8
          # Note: tags has to be all lower-case
          # tags: |
          #   ghcr.io/brownknight/mirrorv2:latest
          #   ghcr.io/brownknight/mirrorv2:${{ steps.semver.outputs.semantic_version }}
          tags: |
            ghcr.io/brownknight/mirrorv2:latest
          # we can build on all branches, but push only on master branch
          push: ${{ github.ref == 'refs/heads/master' }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
